<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="sidebarFragment">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
        <li class="nav-item">
            <a href="#">유관기관</a>
        </li>
        <hr class="sidebar-divider my-0">
        <li class="nav-item">
            <a href="#">
               <link href="http://www.freeget.net/main.php" target="_blank">한국장애인재활협회
            </a>
        </li>
        <li>
            <a href="#">
                <link href="http://www.korea1391.go.kr/new/" target="_blank"> 아동보호전문기관
            </a>
        </li>
        <li>
            <a href="#">
                <link href="https://www.g-health.kr/portal/index.do" target="_blank">공공보건포털
            </a>
        </li>
        <li>
            <a href="#">
                <link href="http://www.mohw.go.kr/react/index.jsp" target="_blank">보건복지부
            </a>
        </li>
    </ul>

</th:block>

</html>