<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<meta name="viewport" content="width=device-width">
<th:block th:fragment="topbarFragment">

    <!-- Topbar -->
    <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

        <div>
            <input type="text" placeholder="검색어 입력">
            <button>검색</button>
        </div>
        <li>

        </li>
    </nav>

</th:block>
</html>